@import url("@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap')");

:root {
  --redColor: #ff0000ec;
  --yellowColor: #ffc400;
  --greenColor: #56cd32;

  --mainTextColor-light: #000;
  --secondaryTextColor-light: #333333;
  --mainLinkColor-light: #0da2b8;
  --mainBorderColor-light: #dadada;
  --mainBgColor-light: #f9fafb;

  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: #1ebed6;
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}

* {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

strong {
  font-weight: 400;
}

.link--item {
  display: flex;
  color: var(--secondaryTextColor);
  align-items: center;
  transition: ease-in-out .3s;
}

.link--item:hover {
  display: flex;
  color: var(--mainTextColor);
  align-items: center;
}

.link--item img {
  margin-right: 0.5em;
}

#container--main {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid var(--mainBorderColor);
}

#wrapper--header {
  display: flex;
  align-items: center;
  padding: 1em;
}

.header--dot {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  margin-right: 0.5em;
}

.header--dot_red {
  background-color: var(--redColor);
}

.header--dot_yellow {
  background-color: var(--yellowColor);
}

.header--dot_green {
  background-color: var(--greenColor);
}

.section--page {
  padding: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#user-name {
  font-size: 2em;
  margin: 0;
  line-height: 1em;
}

#profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

#qualifications--list {
  list-style: none;
  padding: 0;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    gap: 1em;
    flex-direction: column;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}
